html,
body {
    height     : 100%;
    font-family: "Poppins", sans-serif;
}

@mixin flex-box($justify-content) {
    display        : flex;
    align-items    : center;
    justify-content: $justify-content;
}

@mixin toggle-icon {
    @include flex-box(center);
    width       : 40px;
    height      : 40px;
    text-align  : center;
    border-right: 2px solid #c5e0eb;
    padding     : 5px 10px 5px 0;
    cursor      : pointer;

}

@mixin soft-shadow {
    border-radius: 10px;
    border       : 1px solid rgba(255, 255, 255, 0.3);
    box-shadow   : 7px 7px 15px #bbcfda, -4px -4px 13px #ffffff,
        inset 4px 4px 8px rgba(209, 217, 230, 0.2),
        inset -8px -8px 8px rgba(255, 255, 255, 0.2);


}

body {
    background-color: #dbe8f0;
    margin          : 0;
    @include flex-box(center);
}

.mainContainer {
    background-color: #eff4fa;
    display         : flex;
    height          : 550px;
    width           : 1000px;
    border-radius   : 20px;
    padding         : 20px 40px 40px 20px;
    box-shadow      : rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.mainBoard {
    @include flex-box(flex-start);
    flex          : 2;
    flex-direction: row;
    margin-right  : 10px
}

.toggleMainContainer {
    @include flex-box(center);
    flex-direction: column;
    color         : #c5e0eb;

    .toggleIcon {
        @include toggle-icon;
    }

    .selectedToggle {
        color       : #6e94a9;
        border-right: 2px solid #6e94a9;
    }
}

.statMainContainer {
    flex          : 1;
    height        : 100%;
    padding       : 0 20px 0 20px;
    display       : flex;
    flex-direction: column;


    h1 {
        margin-top: 0;
    }

    .statOuterContainer {
        width: 100%;

        @include flex-box(space-between);
        flex-direction: column;
        flex          : 1;

        .detailsContainer {
            @include flex-box(space-between);
            width: 100%;

        }
    }
}

.selectionBoard {
    flex: 1;

    .itemMainContainer {
        @include flex-box(flex-end);
        height        : 100%;
        flex-direction: column;
        position      : relative;


        .itemOuterContainer {
            background-color: #c5e0eb;
            width           : 100%;
            height          : 80%;
            border-radius   : 20px;
            box-shadow      : rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;


            .itemInnerContainer {
                @include flex-box(center);

                flex-direction  : column;
                background-color: #ffffff;
                position        : absolute;
                bottom          : 60px;
                height          : 50%;
                width           : 100%;
                border-radius   : 20px;
                padding         : 0 20px 0 20px;
                box-sizing      : border-box;

                h3 {
                    padding   : 0px 0 9px 0;
                    text-align: center;
                    font-size : large
                }

            }
        }

        img {
            max-width: 100%;
            position : absolute;
            top      : 40px;
        }

        .mainButton {
            border          : none;
            color           : #ffffff;
            height          : 30px;
            text-align      : center;
            cursor          : pointer;
            background-color: #f38653;
            border-radius   : 5px;
            position        : absolute;
            bottom          : 15px;
            left            : 0;
            right           : 0;
            margin-left     : auto;
            margin-right    : auto;
            width           : 90px;
        }

        .mainButton:hover {
            opacity: 0.6;
        }
    }


}

select {
    padding      : 10px;
    border-color : #B7CADB;
    color        : #6e94a9;
    width        : 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

select:focus {
    outline-color: #6e94a9
}

.donutOuterContainer {
    @include flex-box(flex-start);
    @include soft-shadow;
    width     : 200px;
    height    : 100px;
    padding   : 10px;
    box-sizing: border-box;
    cursor    : pointer;

    .donutInnerContainer {
        width: 80px;
    }

    .detailsText {
        @include flex-box(center);
        flex-direction: column;
        font-size     : 12px;
        flex          : 1;

        .detailNumber {
            font-size  : 1rem;
            font-weight: bold;
        }

        p {
            font-size : 10px;
            margin    : 0;
            margin-top: 3px;
        }
    }
}

.donutOuterContainer:hover {
    box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #ffffff,
        inset 6px 6px 16px rgba(209, 217, 230, 0.6),
        inset -8px -8px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(2px);
}

.notSelectedItem {
    width: 110px;
}

.shadow {
    @include soft-shadow;
}

.orange {
    background-color: #efd8cd;
    flex            : 1;
    border-radius   : 10px;
    margin          : 20px;
    padding         : 10px;
    box-sizing      : border-box
}